/.idea/
/.vs
/Cookbook.API/bin
/Cookbook.API/obj
/Cookbook.API.IntegrationTests/bin
/Cookbook.API.IntegrationTests/obj
/Cookbook.API.UnitTests/bin
/Cookbook.API.UnitTests/obj
/Cookbook.Client/bin
/Cookbook.Client/obj
/Cookbook.Core/bin
/Cookbook.Core/obj
/Cookbook.Infrastructure/bin
/Cookbook.Infrastructure/obj
/Cookbook.SharedData/bin
/Cookbook.SharedData/obj
