/.idea/
/.vs
/Cookbook.API/bin/Debug/net10.0
/Cookbook.API/obj
/Cookbook.API.IntegrationTests/bin/Debug/net10.0
/Cookbook.API.IntegrationTests/obj
/Cookbook.API.UnitTests/bin/Debug/net10.0
/Cookbook.API.UnitTests/obj
/Cookbook.Client/bin/Debug/net10.0-windows
/Cookbook.Client/obj
/Cookbook.Core/bin/Debug/net10.0
/Cookbook.Core/obj/Debug/net10.0
/Cookbook.Core/obj
/Cookbook.Infrastructure/bin/Debug/net10.0
/Cookbook.SharedData/bin/Debug/net10.0
/Cookbook.SharedData/obj
