<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cookbook.Client.Properties.ClientSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Cookbook.Client.Properties.ClientSettings>
            <setting name="ApiUrl" serializeAs="String">
                <value>http://localhost:5213/</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="UrlGetRecipes" serializeAs="String">
                <value>v1/cookbook/recipes</value>
            </setting>
            <setting name="UrlGetCategories" serializeAs="String">
                <value>v1/cookbook/categories</value>
            </setting>
            <setting name="UrlGetCategoriesByRecipeId" serializeAs="String">
                <value>v1/cookbook/categories/recipe</value>
            </setting>
            <setting name="UrlPostCategory" serializeAs="String">
                <value>v1/cookbook/categories</value>
            </setting>
            <setting name="UrlPostCategoryByRecipeId" serializeAs="String">
                <value>v1/cookbook/categories/recipe</value>
            </setting>
            <setting name="UrlPutCategory" serializeAs="String">
                <value>v1/cookbook/categories</value>
            </setting>
            <setting name="UrlDeleteCategory" serializeAs="String">
                <value>v1/cookbook/categories</value>
            </setting>
            <setting name="UrlRemoveCategoryByRecipeId" serializeAs="String">
                <value>v1/cookbook/categories/recipe</value>
            </setting>
            <setting name="UrlSignIn" serializeAs="String">
                <value>v1/authentication/signin</value>
            </setting>
            <setting name="UrlGetIngredientsByRecipeId" serializeAs="String">
                <value>v1/cookbook/ingredients/recipe</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="UrlAddCategoryByRecipeId" serializeAs="String">
                <value>v1/cookbook/categories/recipe</value>
            </setting>
        </Cookbook.Client.Properties.ClientSettings>
    </userSettings>
</configuration>